$SCREEN-WIDTH: 240px;
$SCREEN-HEIGHT: 428px;

@import "fonts";

section[role="editor"] {
    display: none;
    &.show {
        display: block;
    }
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	#iphone {
		background-image: url(../img/iphone.png);
		@include image-2x('../img/iphone@2x.png', 284px, 599px);
		background-repeat: no-repeat;
		width: 284px;
		height: 599px;
		padding-right: 2px;
		margin: auto;
		bottom: 0;
		top: -70px;
		left: 0;
		right: 0;
		position: absolute;
		z-index: 200;
	}
	#wrapper {
		width: $SCREEN-WIDTH;
		height: $SCREEN-HEIGHT;
		display: block;
		position: relative;
		float: left;
		margin-left: 23px;
		margin-top: 88px;
		background-image: url(../img/editor-headline.jpg);
		@include image-2x('../img/editor-headline@2x.jpg', 240px, 48px);
		background-repeat: no-repeat;
		background-color: #000;
		overflow: hidden;
	}
	#slider {
		min-width: $SCREEN-WIDTH;
		height: $SCREEN-HEIGHT;
		@include transition(all, 0.5s, ease-in-out);
		position: relative;
	}
	.screen {
		width: $SCREEN-WIDTH;
		height: $SCREEN-HEIGHT;
		display: block;
		position: relative;
		float: left;
		& > .area {
			@include transition(all, 0.5s, ease-in-out);
			margin-top: 48px;
			height: 379px;
			overflow: hidden;
			position:fixed;
			left: 0;
			right: 0;
			width: 240px;
			margin-left: auto;
			margin-right: auto;
			z-index: 1001;
			background: #000;
			& p {
				margin-top: 0;
				& .left-arrow {
					display: inline-block;
					width: 90px;
					height: 26px;
					background: url(../img/editor-capture-left-arrow.png);
					@include image-2x('../img/editor-capture-left-arrow@2x.png', 100, 26);
				}
			}
			&.capture {
				background: url(../img/editor-capture.jpg);
				@include image-2x('../img/editor-capture@2x.png', 240, 379);
				background-repeat: no-repeat;
				background-position: bottom center;
				font-size: 34px;
				text-align: center;
				color: #fff;
				line-height: 48px;
				& label {
					position: absolute;
					top: 286px;
					height: 50px;
					width: 50px;
					background: transparent;
					left: 11px;
					border: none;
					z-index: 4;
					cursor: pointer;
				}
				& input {
					display: none;
				}
				& > p {
					z-index: 3;
					position: relative;
					padding-top: 20px;
					text-shadow: 1px 1px 0 #000;
					& .left-arrow {
						margin-top: 37px;
					}
				}
				&:after {
					background: url(../img/editor-capture-blurred.jpg);
					@include image-2x('../img/editor-capture-blurred@2x.png', 240, 379);
					z-index: 1;
					content: " ";
					position: absolute;
					top:0;
					left: 0;
					right: 0;
					bottom: 0;
					@include transition(all, .5s .5s, ease-in-out);
					opacity: 0;
				}
				&.show:after {
					opacity: 1;
				}
			}
			&.font-list {
				& #list {
					height: 379px;
					overflow: hidden;
					& > .card {
						& * {
						    -webkit-touch-callout: none;
						    -webkit-user-select: none;
						    -khtml-user-select: none;
						    -moz-user-select: none;
						    -ms-user-select: none;
						    user-select: none;
						}
						& .label {
						    display: block;
						    line-height: 240px;
						}
						& .label span {
						    display: inline;
						}
					    width: 240px;
					    height: 240px;
					    background-size: 240px 240px !important;
					    text-align: center;
					    cursor: pointer;
					    overflow: hidden;
					}
				}
			}
			&.creation {
				background: #fff;
				#canvas {
					canvas {
						width: 240px;
						height: 240px;
						position: relative;
						z-index: 2;
						cursor: pointer;
					}
				}
				textarea {
					z-index: 1;
					position: absolute;
					top: 200px;
					height: 10px !important;
					overflow: hidden;
					width: 240px !important;
					// border: none;
					// resize: none;
					// padding: 10px;
					// margin: 10px;
					// width: 198px;
					// height: 40px;
					// text-align: center;
					// -webkit-border-radius: 10px;
					// -moz-border-radius: 10px;
					// border-radius: 10px;
					// border: 1px solid $MAIN-GRAY;
				}
				& > .toogle-drawing {
					
				}
				& > .colorpicker {
					& > div {
						cursor: pointer;
						padding: 10px 10px 0;
						width: 220px;
						height: 34px;
					}
				}
			}
		}
		&.animate > .area {
			position: relative;
			z-index: 1003;
		}
		&.animate + .screen > .area {
			z-index: 1002;
		}
		&.animate > .headline {
			line-height: 62px;
			opacity: 1;
			font-size: 16px;
			position:fixed;
			left: 0;
			right: 0;
			margin: auto;
		}
		&.no-headline.animate {
			& > .headline {
				height: 16px;
				overflow: hidden;
			}
			& > .area {
				margin-top: 16px;
			}
		}
		& > .headline {
			position: absolute;
			height: 49px;
			width: 240px;
			text-align: center;
			font-family: CaviarDreamsBold;
			color: #FFF;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			line-height: 20px;
			opacity: 0;
			font-size: 10px;
			@include transition(all, 0.5s, ease-in-out);
			& > .back {
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(../img/editor-back.png);
				@include image-2x('../img/editor-back@2x.png', 9px, 16px);
				background-color: transparent;
				width: 9px;
				height: 16px;
				border: none;
				width: 30px;
				height: 30px;
				display: block;
				position: absolute;
				top: 16px;
				left: 2px;
			}
		}
	}
}

#cache {
	display: none;
}