@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: url('fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'), 
   url('fonts/LibreBaskerville-Italic.woff') format('woff'), 
   url('fonts/LibreBaskerville-Italic.ttf')  format('truetype'),
   url('fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('fonts/Anton.eot?#iefix') format('embedded-opentype'), 
   url('fonts/Anton.woff') format('woff'), 
   url('fonts/Anton.ttf')  format('truetype'),
    url('fonts/Anton.svg#Anton') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CabinSketch-Bold';
  src: url('fonts/CabinSketch-Bold.eot?#iefix') format('embedded-opentype'), 
   url('fonts/CabinSketch-Bold.woff') format('woff'),
    url('fonts/CabinSketch-Bold.ttf')  format('truetype'),
     url('fonts/CabinSketch-Bold.svg#CabinSketch-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JennaSue';
  src: url('fonts/JennaSue.eot?#iefix') format('embedded-opentype'),
    url('fonts/JennaSue.woff') format('woff'), 
    url('fonts/JennaSue.ttf')  format('truetype'),
     url('fonts/JennaSue.svg#JennaSue') format('svg');
  font-weight: normal;
  font-style: normal;
}
