body > {
	footer {
		font-family: CaviarDreamsRegular;
		background: #fff;
		padding: 20px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 46px;
		& > ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			text-align: center;
			& > li {
				display: inline-block;
				margin-right: 4px;
				border-right: 1px solid $MAIN-COLOR;
				padding-right: 10px;
				list-style-type: none;
				&:last-child {
					border-right: 0;
					margin-right: 0;
					padding-right: 0;
				}
				& > a {
					text-decoration: none;
					color: $MAIN-COLOR;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		& > p {
			text-align: center;
			font-size: 10px;
			margin: 10px auto 0;
		}
	}
}