body {
	& > header {
		padding: 10px;
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		& > #logo {
			height: 70px;
			display: block;
			color: $MAIN-COLOR;
			font-family: CaviarDreamsRegular;
			text-decoration: none;
			line-height: 60px;
			font-size: 42px;
			float: left;
			& > img {
				width: 70px;
				height: 70px;
				float: left;
				margin-right: 10px;
			}
		}
		& > #social {
			position: absolute;
			right: 0;
			top: 0;
			line-height: 90px;
			& > a {
				float: left;
				margin-right: 10px;
				& > img {
					width: 40px;
				}
			}
		}
	}
}