@mixin animation ($delay, $duration, $animation) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	 
	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	 
	-o-animation-delay: $delay;
	-o-animation-duration: $duration;
	-o-animation-name: $animation;
	-o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
	 
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin animationInfinite ($duration, $animation) {
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-iteration-count: infinite; /* this prevents the animation from restarting! */
	 
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-iteration-count: infinite; /* this prevents the animation from restarting! */
	 
	-o-animation-duration: $duration;
	-o-animation-name: $animation;
	-o-animation-iteration-count: infinite; /* this prevents the animation from restarting! */
	 
	animation-duration: $duration;
	animation-name: $animation;
	animation-iteration-count: infinite; /* this prevents the animation from restarting! */
}

@mixin keyframe ($animation_name) {
	@-webkit-keyframes $animation_name {
		@content;
	}
	 
	@-moz-keyframes $animation_name {
		@content;
	}
	 
	@-o-keyframes $animation_name {
		@content;
	}
	 
	@keyframes $animation_name {
		@content;
	}
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}