/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(fonts/caviardreams_bold.css);
@import url(fonts/caviardreams_italic.css);
@import url(fonts/caviardreams_bolditalic.css);
@import url(fonts/caviardreams.css);

$MAIN-COLOR: #F33A73;
$SECONDARY-COLOR: #C02D5C;
$MAIN-GRAY: #EDEDED;
$WHITE-OPACITY: rgba(255, 255, 255, 0.4);

@import "normalize";
@import "header";
@import "footer";
@import "mixins";

@import "editor";

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@include keyframe(bounceTopLeft) {
    30% {
        margin-left: 10px;
        margin-top: -8px;
    }
    0%, 60%, 100% {
        margin-left: 0;
        margin-bottom: 0;
    }
}

@include keyframe(glowText) {
    30% {
        text-shadow: 0px 0px 10px #000;
    }
    0%, 60%, 100% {
        text-shadow: 0px 0px 0px #000;
    }
}

@include keyframe(pulse) {
    30% {
        opacity: 1;
    }
    0%, 60%, 100% {
        opacity: 0;
    }
}

.emoji {
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    margin-top: -0.25em;
}

main {
    position: fixed;
    top: 90px;
    bottom: 86px;
    left: 0;
    right: 0;
    z-index: 1;
    & * {
       font-family: CaviarDreamsRegular;
       outline: 0;
    }
    & > #background-wrapper {
        background: url('../img/background.jpg');
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        &.overlay {
            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.8);
            }
            // filter: blur(3px); 
            // -webkit-filter: blur(3px); 
            // -moz-filter: blur(3px);
            // -o-filter: blur(3px); 
            // -ms-filter: blur(3px);
            // filter: url('../img/blur.svg#blur');
            // filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
        }
    }
    & > #launch {
        z-index: 100;
        background: url('../img/start-editor.svg');
        border: 0;
        padding: 0;
        margin: 0;
        width: 134px;
        height: 144px;
        text-align: right;
        color: #FFF;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 8px 8px 30px;
        position: absolute;
        right: 0px;
        top: 0px;
        & > .glow {
            @include animationInfinite(2s, glowText);
        }
        & > span {
            font-size: 19px;
            line-height: 23px;
            padding-bottom: 62px;
            display: block;
            &.close {
                font-size: 60px;
                font-family: Verdana;
                padding-bottom: 80px;
                padding-right: 14px;
            }
        }
        & > .arrow {
            width: 70px;
            height: 47px;
            background: url(../img/arrow.png);
            @include image-2x('../img/arrow@2x.png', 70, 47);
            position: absolute;
            left: -40px;
            top: 78px;
            @include animationInfinite(2s, bounceTopLeft);
            &:after {
                opacity: 0;
                width: 83px;
                height: 60px;
                position:absolute;
                background: url(../img/arrow-glow.png);
                @include image-2x('../img/arrow-glow@2x.png', 83, 60);
                content: " ";
                display: block;
                top: -6px;
                left: -6px;
                @include animationInfinite(2s, pulse);
            }
        }
    }
    & h2 {
        font-family: CaviarDreamsBold;
        color: $MAIN-COLOR;
        text-shadow: 1px 1px 0px $SECONDARY-COLOR;
        font-size: 36px;
        padding: 10px;
        text-align: center;
        line-height: 56px;
        margin-bottom: 10px;
        & > span {
            background: none repeat scroll 0% 0% $WHITE-OPACITY;
            box-shadow: 10px 0 0 $WHITE-OPACITY, -10px 0 0 $WHITE-OPACITY;
            -webkit-box-decoration-break: clone;
            -ms-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
            padding: 5px 0;
        }
    }
    & h3 {
        font-family: CaviarDreamsRegular;
        font-weight: 100;
        color: #fff;
        font-size: 14px;
        text-align: center;
        text-shadow: 1px 1px 1px #444;
        & > span {
            font-family: CaviarDreamsBold;
            font-size: 18px;
        }
    }
    & h4 {
        text-align: center;
        color: #fff;
        text-shadow: 0px 0px 12px #000;
        font-size: 22px;
        margin: auto;
    }

    section[role="invitation"] {
        input {
            margin-bottom: 2px;
        }
    }

    section[role="subscribe"],
    section[role="invitation"] {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 7%;
        & > form {
            margin: auto;
            display: block;
            width: 360px;
            & > input {
                padding: 4px 14px;
                height: 50px;
                border: 1px solid $MAIN-COLOR;
                background: none repeat scroll 0% 0% $WHITE-OPACITY;
                color: $MAIN-COLOR;
                width: 180px;
                font-size: 16px;
                outline: 0px none;
                border-radius: 0px;
                float: left;
            }
            & > button {
                background: none repeat scroll 0% 0% #EE3A74;
                color: #FFF;
                border: 0px none;
                height: 60px;
                text-align: center;
                font-size: 16px;
                font-weight: 200;
                width: 150px;
                outline: 0px none;
                float: left;
            }
            &:after {
                display: block;
                width: 1px;
                height: 1px;
                content: " ";
                clear: both;
            }
        }
        p {
            text-align: center;
            color: #fff;
            text-shadow: 0 0 1px #000;
            margin: 10px;
        }
    }  
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}