<div class="card" style="background:url(uploads/{{image}})" data-id="{{id}}">
    <div class="label" style="transform:{{transform}};
        -webkit-transform:{{transform}};
        -moz-transform:{{transform}};
        -ms-transform:{{transform}}">
        <span style="{{style}}">{{label}}</span>
    </div>
</div>