<div id="iphone">
	<div id="wrapper">
		<div id="slider">
			<div class="screen animate">
				<div class="headline">
					<button class="back"></button>
					Let's capture!
				</div>
				<div class="area capture">
					<p>Select a picture from your computer and start editing! :stuck_out_tongue_winking_eye:
						<span class="left-arrow"></span>
					</p>
					<form method="post" action="core/upload.php" enctype="multipart/form-data">
                        <label for="picture"></label>
                        <input type="file" id="picture" name="picture">
                    </form>
				</div>
			</div>
			<div class="screen">
				<div class="headline">
					<button class="back"></button>
					Select a preset!
				</div>
				<div class="area font-list">
					<div id="list">
					</div>
				</div>
			</div>
			<div class="screen no-headline">
				<div class="headline">
					<button class="back"></button>
					Create your post! :wink:
				</div>
				<div class="area creation">
					<div id="canvas">
						<!-- canvas comes here -->
					</div>
					<textarea class="text"></textarea>
					<input type="checkbox" class="toggle-drawing" value="Toggle drawing">
					<div class="colorpicker">
						<div class="color-selector"></div>
						<div class="lightness-selector"></div>
					</div>
				</div>
				<div class="toolbar">
					<button class="plus">plus</button>
					<button class="minus">minus</button>
					<button class="emoji">add test image</button>
				</div>
			</div>
		</div>
	</div>
</div>