{{{launchButton}}}
<div id="background-wrapper">
    <section role="subscribe">
        <h2>
            <span>Visual Twitter for your iPhone :sunglasses::cocktail::smile:</span>
        </h2>
        <h3>
            Sing up here to get into the closed Beta and<br>
            <span>start photo-chatting with the world and friends.</span>
        </h3>
        {{#if position}}
        <h4><strong>{{position}}</strong> in front of you, <strong>{{difference}}</strong> behind you</h4>
        {{else}}
        <form method="post" action="core/subscribe.php">
            <input name="email" required="" placeholder="email@example.com" type="email" autocomplete="false">
            <input name="referer" value="{{referer}}" type="hidden">
            <button type="send">I want in!</button>
        </form>
        {{/if}}
    </section>
</div>
<section role="editor">{{{editor}}}</section>