<div id="background-wrapper">
	<section role="invitation">
		<h2>
            <span>Visual Twitter for your iPhone :sunglasses::cocktail::smile:</span>
        </h2>
        <h3><span>Invite your friends using their<br>email or phone numbers</span></h3>
		<form method="post" action="core/invite.php">
            <input type="text" name="friend[]" required placeholder="email or phone number">
            <input type="text" name="friend[]" placeholder="email or phone number">
            <input type="text" name="friend[]" placeholder="email or phone number">
            <input type="hidden" name="referer" value="{{referer}}">
            <button type="send">Send invitations</button>
        </form>
        <p>* We are only using the provided addresses<br> when we are sending out the invitation links.</p>
    </section>    
</div>