@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('caviardreams.eot');
    src: url('caviardreams.eot') format('embedded-opentype'),
         url('caviardreams.woff') format('woff'),
         url('caviardreams.ttf') format('truetype'),
         url('caviardreams.svg#CaviarDreamsRegular') format('svg');
}
