@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('caviardreams_bolditalic.eot');
    src: url('caviardreams_bolditalic.eot') format('embedded-opentype'),
         url('caviardreams_bolditalic.woff') format('woff'),
         url('caviardreams_bolditalic.ttf') format('truetype'),
         url('caviardreams_bolditalic.svg#CaviarDreamsBoldItalic') format('svg');
}
