@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('caviardreams_italic.eot');
    src: url('caviardreams_italic.eot') format('embedded-opentype'),
         url('caviardreams_italic.woff') format('woff'),
         url('caviardreams_italic.ttf') format('truetype'),
         url('caviardreams_italic.svg#CaviarDreamsItalic') format('svg');
}
