@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('caviardreams_bold.eot');
    src: url('caviardreams_bold.eot') format('embedded-opentype'),
         url('caviardreams_bold.woff') format('woff'),
         url('caviardreams_bold.ttf') format('truetype'),
         url('caviardreams_bold.svg#CaviarDreamsBold') format('svg');
}
